*{
    box-sizing:border-box;
}

body{

    margin:0;
    min-height:100vh;

    background:linear-gradient(#4bd3ff,#004c80);

    color:white;

    font-family:Arial;

    text-align:center;

    overflow:hidden;
}


h1{

    font-size:32px;
    margin:15px;

}


p{

    font-size:18px;

}


#info{

    display:flex;

    justify-content:center;

    gap:30px;

    font-size:18px;

    margin-bottom:10px;

}


canvas{

    width:90vw;

    max-width:500px;

    aspect-ratio:1;

    background:#008ac4;

    border:5px solid white;

    border-radius:20px;

}



#controls{

    margin-top:15px;

}



button{

    width:65px;

    height:55px;

    margin:5px;

    font-size:25px;

    border-radius:15px;

    border:none;

    background:white;

}


button:active{

    transform:scale(0.9);

}


#message{

    font-size:16px;

}
