*{
    box-sizing:border-box;
}


body{

    margin:0;

    min-height:100vh;

    background:linear-gradient(#4bd3ff,#004c80);

    color:white;

    font-family:Arial, sans-serif;

    text-align:center;

    overflow-x:hidden;

    padding-bottom:40px;

}



h1{

    font-size:32px;

    margin:15px 0;

}



p{

    font-size:18px;

}




.score{

    font-size:20px;

    margin-bottom:10px;

    font-weight:bold;

}





/* CONTENEUR DU JEU */

.gameContainer{

    position:relative;

    display:flex;

    justify-content:center;

}





canvas{


    width:90vw;

    max-width:500px;

    aspect-ratio:1;


    background:#008ac4;


    border:5px solid white;


    border-radius:20px;


}





/* GAME OVER AU CENTRE */

#gameOver{


    position:absolute;


    top:50%;


    left:50%;


    transform:translate(-50%,-50%);



    width:280px;



    background:white;



    color:#004c80;



    padding:25px;



    border-radius:20px;



    box-shadow:0 0 20px black;



    z-index:50;


}



#gameOver h2{


    margin-top:0;


    font-size:26px;


}





.gameButtons{


    display:flex;


    flex-direction:column;


    gap:15px;


    margin-top:20px;


}







/* BOUTONS */

button{


    width:180px;


    height:55px;


    margin:5px;


    font-size:22px;


    border-radius:15px;


    border:none;


    background:white;


    cursor:pointer;


}





button:active{


    transform:scale(0.9);


}





/* CONTROLES */

.buttons{


    margin-top:20px;


}





/* CLASSEMENT */

#ranking{


    display:block;


    position:relative;


    margin:30px auto 0;


    background:white;


    color:#004c80;


    padding:20px;


    border-radius:20px;


    width:90%;


    max-width:350px;


    text-align:center;


}





#ranking h2{


    margin-top:0;


}





#rankingList{


    text-align:left;


    padding-left:30px;


}





#refreshRanking{


    width:220px;


    font-size:18px;


}





#rankingBtn{


    width:220px;


    font-size:18px;


}






@media(max-width:600px){


    h1{

        font-size:26px;

    }


    p{

        font-size:16px;

    }


    button{

        width:70px;

        height:55px;

    }



    #gameOver button,
    #ranking button{


        width:220px;


    }


}
